body {
    background-size: cover;
    background-position: center;
}

.heading{
width: 100%;
top: 0;
}

#Object_name
{
    border-radius: 10px;
}

canvas
{
  background-color: pink;
  margin-top: 200px;
  border-radius: 15px;
  margin-left: 20px;
}